{% load static %}
 <!---jqeury css link---->
     <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.theme.min.css' %}">
     <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.theme.css' %}">



<link href="{% static 'hospital/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">



<style type="text/css">
  input::placeholder{
    color: white;
 }

 input[type="checkbox"]{
  width: 40px;
  height: 40px;
}
form label{
  color: white;
}
input{
  margin-bottom: 0px;
}

#tag{
  margin-bottom: 0px;
  width: 88%;
}



.header-label{
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
}

form select{
 /* background-color: red;*/
 background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
 color: red;
 border: 1px solid white;
 padding: 20px;
}

.select-input{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  padding: 10px;
  height: 50px;
  color: green;
  border: 1px solid white;
  font-weight: bold;
}





</style>



<div>

  
      
    <form action="" method="post" >
      {% csrf_token %}

    


 <div class="row" style="display: none;">

        <div class="col-md-10">


           {{form.name}}
          
        </div>

            
      </div><!--mwisho wa row ya field za juu--->



<div class="row">

 
  <div class="col-md-2">
    <h3 class="header-label"> {{form.line_one.label}} </h3>
    {{form.line_one}}
     
     <h3 class="header-label"> {{form.line_one_description.label}} </h3>
    {{form.line_one_description}}

    <h3 class="header-label"> {{form.line_one_quantity.label}} </h3>
    {{form.line_one_quantity}}

     <h3 class="header-label"> {{form.line_one_unit_price.label}} </h3>
    {{form.line_one_unit_price}}

     <h3 class="header-label"> {{form.line_one_total_price.label}} </h3>
    {{form.line_one_total_price}}

    
  </div>

  

    <div class="col-md-2">
     <h3 class="header-label"> {{form.line_two.label}} </h3>
    {{form.line_two}}

    <h3 class="header-label"> {{form.line_two_description.label}} </h3>
    {{form.line_two_description}}

    <h3 class="header-label"> {{form.line_two_quantity.label}} </h3>
    {{form.line_two_quantity}}

    <h3 class="header-label"> {{form.line_two_unit_price.label}} </h3>
    {{form.line_two_unit_price}}


    <h3 class="header-label"> {{form.line_two_total_price.label}} </h3>
    {{form.line_two_total_price}}

    
  </div>

  
    <div class="col-md-2">
    <h3 class="header-label"> {{form.line_three.label}} </h3>
    {{form.line_three}}

    <h3 class="header-label"> {{form.line_three_description.label}} </h3>
    {{form.line_three_description}}

    <h3 class="header-label"> {{form.line_three_quantity.label}} </h3>
    {{form.line_three_quantity}}


    <h3 class="header-label"> {{form.line_three_unit_price.label}} </h3>
    {{form.line_three_unit_price}}

    <h3 class="header-label"> {{form.line_three_total_price.label}} </h3>
    {{form.line_three_total_price}}

    
  </div>
  
    <div class="col-md-2">
    <h3 class="header-label"> {{form.line_four.label}} </h3>
    {{form.line_four}}

    <h3 class="header-label"> {{form.line_four_description.label}} </h3>
    {{form.line_four_description}}

    <h3 class="header-label"> {{form.line_four_quantity.label}} </h3>
    {{form.line_four_quantity}}

    <h3 class="header-label"> {{form.line_four_unit_price.label}} </h3>
    {{form.line_four_unit_price}}

    <h3 class="header-label"> {{form.line_four_total_price.label}} </h3>
    {{form.line_four_total_price}}

    
  </div>
 
    <div class="col-md-2">
    <h3 class="header-label"> {{form.line_five.label}} </h3>
    {{form.line_five}}

    <h3 class="header-label"> {{form.line_five_description.label}} </h3>
    {{form.line_five_description}}

    <h3 class="header-label"> {{form.line_five_quantity.label}} </h3>
    {{form.line_five_quantity}}

    <h3 class="header-label"> {{form.line_five_unit_price.label}} </h3>
    {{form.line_five_unit_price}}

    <h3 class="header-label"> {{form.line_five_total_price.label}} </h3>
    {{form.line_five_total_price}}

    
  </div>





</div><!--mwisho wa row kubwa---->


  

</div>


<div>


<div class="row" style="margin-left: 0px;margin-top: 20px;">


  <div class="col-md-2">
    <h3 class="header-label" id="id_line_six_label"> {{form.line_six.label}} </h3>
    {{form.line_six}}

    <h3 class="header-label" id="id_line_six_description_label"> {{form.line_six_description.label}} </h3>
    {{form.line_six_description}}

    <h3 class="header-label" id="id_line_six_quantity_label"> {{form.line_six_quantity.label}} </h3>
    {{form.line_six_quantity}}

    <h3 class="header-label" id="id_line_six_unit_price_label"> {{form.line_six_unit_price.label}} </h3>
    {{form.line_six_unit_price}}

    <h3 class="header-label" id="id_line_six_total_price_label"> {{form.line_six_total_price.label}} </h3>
    {{form.line_six_total_price}}

    
  </div>
 

  

    <div class="col-md-2">
    <h3 class="header-label" id="id_line_seven_label"> {{form.line_seven.label}} </h3>
    {{form.line_seven}}

    <h3 class="header-label" id="id_line_seven_description_label"> {{form.line_seven_description.label}} </h3>
    {{form.line_seven_description}}

    <h3 class="header-label" id="id_line_seven_quantity_label"> {{form.line_seven_quantity.label}} </h3>
    {{form.line_seven_quantity}}

    <h3 class="header-label" id="id_line_seven_unit_price_label"> {{form.line_seven_unit_price.label}} </h3>
    {{form.line_seven_unit_price}}

    <h3 class="header-label" id="id_line_seven_total_price_label"> {{form.line_seven_total_price.label}} </h3>
    {{form.line_seven_total_price}}

    
  </div>
  


  
    <div class="col-md-2">
    <h3 class="header-label" id="id_line_eight_label"> {{form.line_eight.label}} </h3>
    {{form.line_eight}}

    <h3 class="header-label" id="id_line_eight_description_label"> {{form.line_eight_description.label}} </h3>
    {{form.line_eight_description}}

    <h3 class="header-label" id="id_line_eight_quantity_label"> {{form.line_eight_quantity.label}} </h3>
    {{form.line_eight_quantity}}

    <h3 class="header-label" id="id_line_eight_unit_price_label"> {{form.line_eight_unit_price.label}} </h3>
    {{form.line_eight_unit_price}}

    <h3 class="header-label" id="id_line_eight_total_price_label"> {{form.line_eight_total_price.label}} </h3>
    {{form.line_eight_total_price}}

    
  </div>
 
    <div class="col-md-2">
    <h3 class="header-label" id="id_line_nine_label"> {{form.line_nine.label}} </h3>
    {{form.line_nine}}

    <h3 class="header-label" id="id_line_nine_description_label"> {{form.line_nine_description.label}} </h3>
    {{form.line_nine_description}}

    <h3 class="header-label" id="id_line_nine_quantity_label"> {{form.line_nine_quantity.label}} </h3>
    {{form.line_nine_quantity}}

    <h3 class="header-label" id="id_line_nine_unit_price_label"> {{form.line_nine_unit_price.label}} </h3>
    {{form.line_nine_unit_price}}

    <h3 class="header-label" id="id_line_nine_total_price_label"> {{form.line_nine_total_price.label}} </h3>
    {{form.line_nine_total_price}}

    
  </div>

    <div class="col-md-2">
    <h3 class="header-label" id="id_line_ten_label"> {{form.line_ten.label}} </h3>
    {{form.line_ten}}

    <h3 class="header-label" id="id_line_ten_description_label"> {{form.line_ten_description.label}} </h3>
    {{form.line_ten_description}}

    <h3 class="header-label" id="id_line_ten_quantity_label"> {{form.line_ten_quantity.label}} </h3>
    {{form.line_ten_quantity}}

    <h3 class="header-label" id="id_line_ten_unit_price_label"> {{form.line_ten_unit_price.label}} </h3>
    {{form.line_ten_unit_price}}

    <h3 class="header-label" id="id_line_ten_total_price_label"> {{form.line_ten_total_price.label}} </h3>
    {{form.line_ten_total_price}}

    
  </div>
  

</div><!--mwisho wa row kubwa---->


</div>


<div id="comment-container" class="row" style="margin-top: 15px;margin-bottom: 15px;margin-left: 20px;">

      <div class="col-md-12">
             <h3 class="header-label"> 
             {{form.comments.label}} </h3>
            {{form.comments}}

          </div>

         
</div>


<div class="row" style="margin-top: 15px;margin-bottom: 15px;margin-left: 20px;">

      <div class="col-md-3">
             <h3 class="header-label"> 
             {{form.total.label}} </h3>
            {{form.total}}

          </div>

          <div class="col-md-2">
            <h3 class="header-label"> 
             {{form.paid.label}} </h3>
            {{form.paid}}

          </div>

         
  

</div>



<!-- mwanzo wa row ya buttons -->
<div class="row" style="margin-bottom: 2cm;">

  <div class="col-md-3">
   <button id="more-line" type="button" class="btn btn-success">Show / Hide More Lines</button>
     
  </div>

  <div class="col-md-6">
    <button type="submit" class="btn btn-primary btn-md my-2 p" style="width: 80%;">
      Submit</button>
  </div>

  <div class="col-md-3">
   <button id="comment-line" type="button" class="btn btn-danger">Comment</button>
     
  </div>
  
</div>
<!-- mwisho wa row ya buttons -->



</div>








</form>

</div><!--jquery code for autocomplete javascriptcode---->









<script src="{% static 'hospital/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'hospital/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>


<!-- huyu ndio kwa ajili ya autocomplete calculations na anatakiwa akae chini na sio juu -->
<script src="{% static 'hospital/assets/js/myjs.js' %}"></script>


<script >
  $( function() {


    $("#tag"). autocomplete({
    source: "{% url 'search_mtoto' %}"
  });



  } );

  

</script>


<script >
  $( function() {


    $(".input"). autocomplete({
    source: "{% url 'search_clinic_service_autocomplete' %}"
  });



  } );

  

</script>