{% extends 'hospital/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {% endblock %}


{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>




  
 <!---jqeury css link---->
     <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.theme.min.css' %}">
     <link rel="stylesheet" href="{% static 'hospital/jqueryui/jquery-ui.theme.css' %}">

<script src="{% static 'hospital/assets/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.min.css' %}">


 <!-- Add jQuery UI (optional) -->
    <link rel="stylesheet" href="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.structure.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.theme.min.css' %}">

<!-- For Js -->

<!-- Add jQuery -->
<script src="{% static 'hospital/assets/jquery/jquery-3.7.1.min.js' %}"></script>

       
<!-- Add jQuery UI Timepicker addon -->
<!-- <script src="{% static 'hospital/assets/jquery/jquery-ui-timepicker-addon.js' %}"></script>
<link rel="stylesheet" href="{% static 'hospital/assets/jquery/jquery-ui-timepicker-addon.css' %}"> -->

<script src="{% static 'hospital/assets/jquery/jquery-ui/jquery-ui.min.js' %}"></script>
       <script src="{% static 'hospital/assets/js/myjs2.js' %}" type="text/javascript"></script>

 
</head>
<body class="body-wrapper">
  
   


  <style>
    .small-img{
      width: 70px;
      height: 70px;
    }
    td{
        font-size: 16px;
        font-family: bold;
    }

    .form-label{
      color: white;
    }
  </style>
  <main class="">


    <div class="container" style="margin-top: 80px;">
        {% if messages %}
      {% for message in messages %}
      

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
      {% endfor %}
    {% endif %}






<div>
  


<h1 class="hospital-header-service" style="color: white;text-align: center;">Saved Patients</h1>


<!-- mwanzo wa row -->
<!-- <div class="" style="width: 100%;margin-top: 15px;display: flex;">
  <a class="btn btn-{% if 'fname' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?fname=True"
                role="button" style="margin-right: 20px;"><i class="fas fa-sort-alpha-down" style="margin-right: 15px;"></i>
                Order by Name</a>
            <a class="btn btn-{% if 'created' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?created=True"
                role="button" style="margin-right: 20px;"><i class="far fa-clock" style="margin-right: 15px;"></i>Order by  Last Created</a>
           
            <a class="btn btn-{% if 'created2' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?created2=True"
                role="button"><i class="far fa-clock" style="margin-right: 15px;"></i>Order by  First Created</a>
           
  
</div> -->
<!-- mwisho wa row -->











<div class="row">
 
<form method="get" action="{% url 'search_Pharmarcist_Comments' %}" style="margin-top: 15px;">
      {% csrf_token %}

     <div class="col-md-6">
           <input type="text" name="search" id="search" placeholder="Enter Patient Name or Number" required></div>
    <div class="col-md-2">
           <input type="submit" class="btn btn-success"  value="Search patient" name="" style="margin-top: 15px;">
           </div>
      
    </form>
          
       

<form class="row g-3 registration-form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
 




  
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Filter By Doctor </label><br>
    {{form.TakenBy}}
  </div>


  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Start Date </label><br>
    {{form.start_date}}
   <!-- <input type="datetime-local" name="fromdate" placeholder="dd-mm-yyyy " value="" style="border: 1px solid white;border-radius: 10px;padding: 10px;"> -->

  </div>


 <div class="col-md-4">
    <label for="inputPassword4" class="form-label">End Date </label><br>
    {{form.end_date}}
   <!-- <input type="datetime-local" name="enddate" placeholder="dd-mm-yyyy " value="" style="border: 1px solid white;border-radius: 10px;padding: 10px;"> -->

  </div>

  

   <div class="col-md-4 mb-0">
  <label for="inputEmail4" class="reg-form-label">Put a tick to export to CSV </label><br>
  <div class="custom-checkbox">
    {{form.export_to_CSV}}   
  </div>
</div>



  <div class="col-md-12">

    <button type="submit" class="btn btn-primary mr-2">Search</button>
 <a href="{% url 'SavedPatients_list' %}" class="btn btn-success mr-2">
  Reset
      </a>

  <!--  <a href="" class="btn btn-secondary mr-2">
  Save To Pdf
      </a> -->


   
  </div>


  

 
 

 


</form>

</div>









{% if queryset %}

      <section class="mb-0 mt-1" style="box-shadow: -10px 10px  10px rgba(0,0,0,0.3)">
     <div class="table-responsive text-nowrap">

      {% if get_sum == 0 and get_sum_filter_date == 0  %}
       <h2 class="order-main-total">Total Amount Collected: {{ main_total_price|floatformat:0|intcomma }}/=</h2>
        {% endif %}
          
          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Full Name</th>
                
                <th scope="col">Service</th>
                
                <th scope="col">Total Amount</th>
                <th scope="col">Paid</th>
                <th scope="col">Date</th>
                
                
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for object in queryset %}
              
                
            <tr>
                <td>{{object.name}}</td>
                
                <td>{{object.huduma}}</td>
                
                <td>{{object.total|floatformat:0|intcomma}}</td>
                <td>{{object.paid}}</td>
                <td>{{object.time_stamp}}</td>
             

                
                







                 
               
               
                 
                                    <td> 



       

        

            <a href="" >
            <button class="btn btn-danger patient-list-button" value="Delete">Delete</button>
              </a>
                        
          


                  </td>
                  
            </tr>

           



            
              {% endfor %}

               <tr>
                
                {% if get_sum  %}
        <h2 class="order-main-total">Total Amount Collected By <span class="span-price-information">{{username}}:</span> Tsh.{{get_sum.sum|floatformat:0|intcomma}}/=</h2>
        {% endif %}

              </tr>



         <tr>
                
                {% if get_sum_filter_date  %}
        <h2 class="order-main-total">Total Amount Collected From <span class="span-price-information">{{start_date}}</span> To <span class="span-price-information">{{end_date}} :</span> Tsh.{{get_sum_filter_date.sum|floatformat:0|intcomma}}/=</h2>
        {% endif %}

              </tr>

            
            </tbody>
          </table>
     </div>
      </section>

         {% else %}

           <h4 class="mt-5 pt-4" style="color: white;font-weight: bold;text-align: center;">No any patient  is saved</h4>


        
            
          
          {% endif %}

      
    
  </div>









<!--------------------------PAGINATION-------------------------------------->

  
<div style="background-color: white;font-size: 18px;color: blue;">
<center>
 <h2 style="font-size: 17px;color: black;"> page {{queryset.number}} of {{queryset.paginator.num_pages}}</h2>
{% if queryset.has_previous %}
<a href="?page=1" style="font-weight: bold;text-decoration: none;font-size: 17px;color: blue;margin-right: 20px;">   &laquo First</a>
<a href="?page={{queryset.previous_page_number}}"style="font-weight: bold;text-decoration: none;font-size: 17px;color: blue;margin-right: 20px;">Previous</a>
{% endif %}



{% if queryset.has_next %}
<a href="?page={{queryset.next_page_number}}" style="font-weight: bold;text-decoration: none;font-size: 17px;color: blue;margin-right: 20px;">Next</a>
<a href="?page={{queryset.paginator.num_pages}}" style="font-weight: bold;text-decoration: none;font-size: 17px;color: blue;margin-right: 20px;">Last &raquo</a>

{% endif %}

</center>
</div>




    </div>
  </main>













<!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'hospital/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'hospital/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>



<script >
  $( function() {


    $("#doctorName"). autocomplete({
    source: "{% url 'search_MyUsers_autocomplete' %}"
  });



  } );

  

</script>


<script >
  $( function() {


    $("#search"). autocomplete({
    source: "{% url 'search_Saved_patient_autocomplete' %}"
  });



  } );

  

</script>





</body>
</html>

{% endblock %}